<footer>
<nav class="round">
<ul>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
  <li><%=link_to "Google",'http://www.google.ca'%></li>
  <li><%=link_to "UofT portal",'http://www.portal.utoronto.ca'%></li>
  <li><%=link_to "ECE",'http://www.ece.utoronto.ca'%></li>
  <li><%=link_to "UToronto",'http://www.utoronto.ca'%></li>

</ul>
</nav>
</footer>
